<div class="container">
<h2><%= @task.title %></h2>
<p><input <% if @task.completed? %>
checked
<% else  %>
unchecked
<% end %>
type="checkbox"> completed </p>
<p><%= @task.details %></p>

<p><%= link_to "Return to main tasks", tasks_path%></p>

<li><%= link_to "Edit #{@task.title}",
            edit_task_path(@task) %> </li>

<li><%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
</div>
